import /tee.rc
import /trustonic.rc

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw

on fs
    install_keyring

    write /sys/class/power_supply/usb/otg_switch 1
    write /sys/class/oplus_chg/usb/otg_switch 1

on post-fs

service keymaster-4-1 /vendor/bin/hw/android.hardware.keymaster@4.1-service.trustonic
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start mobicore
    start keymaster-4-1
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:sys.usb.config=fastboot
    start servicemanager
    start hwservicemanager
    restart fastbootd

on boot
    start health-hal-2-1
